{% extends 'base.html.twig' %}

{% block title %}Mon compte Modif. des photos
{% endblock %}

{% block body %}

	<h1 class="h3 mb-3 font-weight-bold">Nouvelle photo</h>

	{{ form_start(formEdit) }}
	{{ form_row(formUpload.imagefile) }}
	{{ form_row(formUpload.description) }}
	{{ form_row(formUpload.tags) }}
	{{ form_row(formUpload.category) }}
	<button class="btn btn-primary">Modifier</button>
	{{ form_end(formUpload, { 'render_rest': false }) }}

	{{ form_end(formEdit) }}

{% endblock %}
