{% extends 'base.html.twig' %}

{% block title %}Modier une Image
{% endblock %}

{% block body %}

	<h1 class="h3 mb-3 font-weight-bold">Modifie l'image'</h>

	{{ form_start(formEditPicture) }}
	{{ form_rest(formEditPicture) }}
	<button class="btn btn-primary">Modif</button>
	{{ form_end(formEditPicture) }}


{% endblock %}
