{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}
	<h1>Acceuil</h1>

	{# Categories #}
	<ul class="nav justify-content-center py-4">
		{% for categorie in categories %}
			<li
				class="nav-item">
				{# path() contient le nom de l route vers laquelle nous souhaitons nous rediriger #}
				<a class="nav-link" href="{{ path('picturesByCategory', { id:categorie.id }) }}">{{ categorie.name }}</a>
			</li>
		{% endfor %}
	</ul>

	{# Images #}
	{# for est l'équivalent de foreach() #}
	{% for picture in pictures %}
		{# La concaténation en Twig se fait avec un tild "~" #}
		<a href="{{ path('show_picture', { id: picture.id }) }}">
			<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}">
		</a>


	{% endfor %}

	{{ knp_pagination_render(pictures) }}
{% endblock %}
