{% extends "base.html.twig" %}

{% block body %}
	<h1>Aperçu de la photo</h1>

	<div class="py-4">
		<a href="{{ path('home') }}">Retour à l'acceuil</a>
	</div>

	<a href="{{ asset('uploads/images/photos/'~ picture.image)}}">
		<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumbnail') }}" alt="{{ picture.image }}" class="rounded img-fluid">
	</a>

	<p class="pt-3" id="str">{{ picture.description }}</p>
	<small>Catégorie : {{ picture.tags }}</small>
	<hr
	class="mt-5">

	        {# 
		        "picture" correspond aux infos de notre image, à partir de cette image, nous allons chercher la catégorie reliée à l'image "picture.category" et à partir de cette catégorie, nous avons la possibilité de réupérer toutes les images liées à cette même catégorie "picture.category.pictures"
		     #}
	<div class="row">
		{% for photo in photos %}
			{% if photo.image is not same as(picture.image) %}
            {# 
                !== s'écrit en Twig : is not same as()
                === s'écrit en Twig : is  same as()
             #}

				<div class="col-3 mb-4">
					<a href="{{ path('show_picture', { id: photo.id}) }}">
						<img src="{{ asset('uploads/images/photos/'~ photo.image)|imagine_filter('thumbnail') }}" alt="{{ photo.image }}" class="rounded img-fluid">
					</a>
				</div>
			{% endif %}
		{% endfor %}
		
	</div>
	{{ knp_pagination_render(photos) }}
{% endblock %}
