{% extends 'base.html.twig' %}

{% block title %}Modier une Catégorie
{% endblock %}

{% block body %}

	<h1 class="h3 mb-3 font-weight-bold">Modifie la catégorie</h>

	{{ form_start(formEditCategory) }}
	{{ form_rest(formEditCategory) }}
	<button class="btn btn-primary">Modif</button>
	{{ form_end(formEditCategory) }}


{% endblock %}
