{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie
{% endblock %}

{% block body %}

	<h1 class="h3 mb-3 font-weight-bold">Nouvelle catégorie</h>

	{{ form_start(formNewCategory) }}
	{{ form_rest(formNewCategory) }}
	<button class="btn btn-primary">Enregistrer</button>
	{{ form_end(formNewCategory) }}


{% endblock %}
