{% extends 'base.html.twig' %}

{% block title %}Mon compte Modification de l'utilisateur
{% endblock %}

{% block body %}

	<h1 class="h3 mb-3 font-weight-bold">Modification de l'utilisateur</h>

	{{ form_start(formEditUser) }}
	{{ form_rest(formEditUser) }}
	<button class="btn btn-primary">Modifier</button>
	{{ form_end(formEditUser) }}

{% endblock %}
