{% extends 'base.html.twig' %}

{% block title %}Administration - Gestion des images
{% endblock %}
{# Ajoute notre javascript #}
{% block javascripts %}
	{{ parent() }}
	{# Récupère les fichiers JS contenu dans le block javascript du fichier base.html.twig #}
	<script src="{{ asset('js/deleteModal.js') }}" defer></script>
{% endblock %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-bold">Admin</h1>

	{# Affiche un message de succès #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr class="table-dark">
				<th>ID</th>
				<th>Nom Prénom</th>
				<th>Adresse email</th>
				<th>Rôle</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.lastname }}
						{{ user.firstname }}</td>
					<td>{{ user.email }}</td>
					<td>
						{% for role in user.roles %}
							{% if role is same as('ROLE_USER') %}
								<span class="text-muted mr-3">Utilisateur</span>

							{% elseif role is same as ('ROLE_ADMIN') %}
								<span class="badge rounded-pill bg-danger">Admin</span>
							{% endif %}
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('admin_users_edit', { 'id': user.id }) }}" class="btn btn-secondary">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
								<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
							</svg>
						</a>
						<button type="button" data-href="{{ path('admin_users_delete', { 'id': user.id }) }}" class="btn btn-danger confirm-delete">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewbox="0 0 16 16">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
							</svg>
						</td>
					</td>
				</tr>
			</tbody>
		</tbody>
	</tr>
</button></tbody></td></tr></td></tbody></tr>{% else %}<tr><td class="py-5 text-center text-muted" colspan="4">Aucune catégorie pour le moment :(</td></tr>{% endfor %}</tbody></table>{{ knp_pagination_render(users) }}<!-- Modal --><div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="staticBackdropLabel">Suppression</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div><div class="modal-body">Êtes-vous sûr de vouloir supprimer cette photo ?</div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button><a href="" class="btn btn-danger">Oui, je confirme !</a></div></div></div></div> {% endblock %}
